.widget {
	margin-bottom: 1rem;
	padding: 0.5rem;
}

.widget h3 {
	margin-top: 0px;
}

.widget .active .wall-item-ago,
.widget .active .dropdown-sub-text {
	color: #fff;
}

.tags {
	word-wrap: break-word;
}

.widget-nav-pills-icons {
	opacity: 0;
	float: right;
}

.widget-nav-pills-checkbox {
	padding: 0.6rem 1.4rem;
	float: right;
	cursor: pointer;
}

li:hover .widget-nav-pills-icons {
	opacity: 1;
}


/* suggest */

.suggest-widget-more {
	margin-top: 10px;
}

/* notes */ 

#note-text {
	border: 1px solid rgba(0,0,0,.125);
	padding: 5px;
	width: 100%;
	resize: none;
	min-height: 250px;
	overflow: hidden;
}

/* saved searches */

#saved-search-list {
	margin-top: 2px;
}


/*  affinity slider */
#main-slider, #affinity_slider {
	margin: 10px 7px 2rem 7px;
}

@media screen and (max-width: 767px) {
	#main-slider, #affinity_slider {
		margin: 4rem 7px 2rem 7px;
	}
}

#slider-container {
	display: flex;
	flex-wrap: no-wrap;
	justify-content: flex-center;
}

#main-range, #affinity-range, #contact-range {
	background-color: #EEE;
	border-radius: 0.25rem;
	width: 90%;
	
}

input[type=range]::-moz-range-track {
  background-color: #444;
}

.range-icon {
	margin: 4px;
	font-size: 12px;
	color: #777;
}


/* posted date */

.posted-date-selector-months {
	margin: 2px 0px 0px 10px;
}

#posted-date-selector li:not(:first-child) {
	margin-top: 2px;
}

#posted-date-selector-drop li:not(:first-child) {
	margin-top: 2px;
}

/* categories */


/* group */

a.group-edit-tool {
	z-index: 1;
}

.group-edit-icon {
	opacity: 0;
}

li:hover .group-edit-icon {
	opacity: 1;
}

/* Chatrooms */

.chatroomlist td {
	padding: 0 5px 0;
}

/* ratings */

.directory-rating {
	float: right;
	margin-right: 5px;
}

.rating-text-label {
	margin-top: 30px;
}

.directory-rating-text {
	width: 90%;
	margin-left: 5%;
}

.directory-rating-submit {
	margin-top: 15px;
}


/* tasklist */

.tasklist-tasks {
	max-height: 300px;
	overflow-y: auto;
}

#tasklist-new-summary {
	/* width: 250px; */
}

/* cover photo */

#cover-photo {
	position: relative;
	width: 100%;
	height: auto;
}

#cover-photo-caption {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	padding: 1rem;
}

#cover-photo-caption h1,
#cover-photo-caption h3 {
	color: #fff;
	font-weight: bold;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

a.wikilist {
	z-index: 1;
}

/* mail list */

.active .conv-participants {
	color: #fff;
}

/* notifications */
.notifications-btn {
	opacity: .5;
}

.notification-content {
	max-height: 70vh;
	overflow: auto;
}

.notifications-textinput {
	padding: .75rem 0.85rem;
	position: relative;
}

.notifications-textinput input {
	padding-left: 1.75rem;
}

.notifications-textinput-clear {
	padding: .5rem;
	line-height: 1;
	position: absolute;
	top: .75rem;
	right: 1rem;
	cursor: pointer;
}

.notifications-textinput-filter {
	padding: .5rem;
	line-height: 1;
	position: absolute;
	top: .75rem;
	left: 0.75rem;
}

.notification-content.collapsing {
	overflow: hidden;
}

.fs {
	position: fixed;
	top: 0px;
	left: 0px;
	padding: 4.5rem .5rem 1rem .5rem;
	background-color: white;
	width: 100%;
	max-width: 100%;
	height: 100%;
	z-index: 1029;
	overflow: auto;
}

#notifications_wrapper {
	margin-bottom: 1rem; 
}

/* contact block */
.contact-block-div .oneway-overlay {
	font-size: 20px;
	margin-left: -25px;
	margin-top: 25px;
	opacity: 0.8;
}

/* spinner */

.spinner-wrapper {
	display: none;
}

.spinner.s {
	height: 1rem;
	width: 1rem;
}

.spinner.m {
	height: 2rem;
	width: 2rem;
}

.spinner.l {
	height: 3rem;
	width: 3rem;
}

.spinner.s,
.spinner.m,
.spinner.l {
	margin: 0 auto;
	position: relative;
	-webkit-animation: rotation 1s infinite linear;
	-moz-animation: rotation 1s infinite linear;
	-o-animation: rotation 1s infinite linear;
	animation: rotation 1s infinite linear;
	border-left: .2rem solid rgba(77, 77, 77, .15);
	border-right: .2rem solid rgba(77, 77, 77, .15);
	border-bottom: .2rem solid rgba(77, 77, 77, .15);
	border-top: .2rem solid rgba(77, 77, 77, .5);
	border-radius: 100%;
}

@-webkit-keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(359deg);
	}
}

@-moz-keyframes rotation {
	from {
		-moz-transform: rotate(0deg);
	}
	to {
		-moz-transform: rotate(359deg);
	}
}

@-o-keyframes rotation {
	from {
		-o-transform: rotate(0deg);
	}
	to {
		-o-transform: rotate(359deg);
	}
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

/* spinner end */
